h1{
    text-align: center;
    font-family: cursive;
}
a{
    color:peru;
    font-size: large;
}


body{
    background-color:palegoldenrod;
}

footer{
    margin-top: 70%;
    font-family: cursive;
}


